.root {
    -fx-background-color: black;
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: 400px 600px;
    -fx-background-repeat: repeat;
}

.text-field {
    -fx-background-color: white;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #FFE4C4;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: #DEB887;
    -fx-font-size: 17px;
}

.button:pressed {
    -fx-background-color: #DAA520;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 8px;  /* Change width of scroll bar. */
    -fx-background-color: white;
}

.scroll-bar .thumb {
    -fx-background-color: #DAA520;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}